@{
    ViewBag.Title = "Home Page";
    ViewBag.Active = "Home";
}
 
    
      <div class="row-fluid"> 
        <div class="span3"> 
          
        </div><!--/span--> 
        <div class="span9"> 
 
          <div class="row-fluid"> 
           <div class="span3">
           fvjhgjhgkjhgkjhgkjhgkjhgkjhg
           </div>
          </div><!--/row--> 
        </div><!--/span--> 
      </div><!--/row--> 
 
   