@{
    ViewBag.Title = "Home Page";
    ViewBag.Active = "Home";
}
 
    
      <div class="row-fluid"> 
        <div class="span9 hero-unit">Welcome to Neilson's Perfect Store</div>
        </div>
      
 
   